/* Variables */
:root {
  --main-color: darkblue;
  --secondary-color: grey;
  --main-bg-color: #fff;
  --secondary-bg-color: #999;
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

/* Base Style */
body {
  font-family: "Merriweather", serif;
  color: var(--secondary-color);
}
/* Text formating */
h2 {
  text-align: center;
}

h2,
legend {
  font-size: 1.4rem;
  font-weight: 700;
  color: var(--main-color);
  padding: 1rem 0;
}

.lead {
  font-size: 1.2rem;
  color: #999;
  text-align: center;
}

/* Spacing */
.container,
header,
form {
  padding: 0 1rem 0 1rem;
  margin: auto;
}

fieldset {
  border: 0;
}

/* Input formating */
input,
textarea,
select {
  background-color: var(--secondary-bg-color);
  border: 0;
  border-radius: 5px;
  padding: 1.5rem;
}

input:focus,
textarea:focus,
select:focus {
  border: var(--main-color) 3px solid;
  outline: none;
}

input:focus::placeholder,
textarea:focus::placeholder {
  color: transparent;
}

input::placeholder,
textarea::placeholder {
  text-align: right;
}

label:not([for]) {
  margin-bottom: 1rem;
}
/* Form Layout*/
form,
fieldset {
  display: flex;
  flex-direction: column;
}

fieldset > *:not(legend),
.row {
  width: 95%;
  margin: 1rem auto;
}

.wide-row {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0 auto 2rem;
}

.row {
  display: flex;
}

.row input {
  width: 1rem;
  margin-right: 1rem;
}

.row label {
  padding: 0;
  margin: 0;
}

/* Page Styling */
/* Header */
.main-header {
  font-size: 1.6rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  background-color: var(--main-color);
  color: #fff;
  margin-bottom: 1rem;
  padding: 2rem;
}

header .lead {
  border-bottom: var(--main-color) solid 5px;
  padding: 0rem 2rem 2.25rem;
  margin-bottom: 0.25rem;
}

/* Main */

main legend {
  border-top: solid var(--main-color) 2px;
  width: 100%;
}
label {
  font-size: 1rem;
  font-weight: 500;
  color: #999;
  text-align: left;
  margin: 0.5rem 0rem;
}

input[name="user_zipcode"] {
  width: 10rem;
  margin-left: 2.5%;
}

textarea {
  width: 100%;
  height: 8rem;
}

button[type="submit"] {
  font-size: 1.5rem;
  font-family: "Merriweather", serif;
  width: 95%;
  height: 5rem;
  margin: auto;
  color: #fff;
  background-color: turquoise;
  border-radius: 5px;
  border: none;
}

/* Footer */

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 5rem;
}

@media only screen and (min-width: 768px) {
  /* Untility */
  .container {
    max-width: 800px;
  }
  /* Form, Main */
  .wide-row {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    max-width: 800px;
  }

  label {
    margin-right: auto;
    align-self: flex-start;
  }

  label[for="zipcode"] {
    align-self: center;
  }

  #zipcode {
    width: 10rem;
  }
  .wide-row input,
  .wide-row select {
    width: 70%;
  }
}
